
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

body {
    font-family: "Anton";
    color: #fff;
    background: #fff;
}

/* ------------------------------------------------ */

.header {
    position: relative;
}

.header__img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
    
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 57px;
}

.nav-box {
    display: flex;
    align-items: center;
}

.nav-box img {
    margin-right: 69px;
}


.nav-box ul {
    display: flex;
    align-items: center;
}

.nav-box ul a {
    margin-right: 40px;
    font-family: "Anton";
    font-size: 14px;
    letter-spacing: 10%;
    text-transform: uppercase;
}

.nav a {
    font-family: "Anton";
    font-size: 17px;
    letter-spacing: 10%;
}

.prew-info {
    margin-top: 216px;
}

.prew-info p {
    font-size: 30px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.prew-info h1 {
    font-size: 100px;
    text-transform: uppercase;
    color: var();
}

.prew-info button {
    font-size: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    width: 238px;
    height: 57px;
    border: 1px solid #fff;
    background: none;
    color: #fff;
    font-family: "Anton";
    cursor: pointer;
    margin-bottom: 332px;
}

.main-box {
    margin-top: 113px;
}

.main__title {
    font-family: var(--ffAnton);
    font-size: 50px;
    color: var(--mainCol);
    text-transform: uppercase;
    margin-bottom: 58px;
}

.main-info__box h3 {
    color: var(--mainCol);
    font-family: var(--ffAnton);
    font-size: 25px;
    margin-bottom: 19px;
    text-transform: uppercase;
}

.main-info__box {
    width: 564px;       
}

.main-info__box p {
    text-align: justify;
    font-size: 16px;
    font-family: var(--ffOpenSans);
    color: var(--mainCol);
    line-height: 26px;
}

.main-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 67px;
}

.main-d-img {
    display: flex;
    justify-content: space-evenly;
}

.footer {
    margin-top: 114px;
    color: var(--mainCol);
    display: flex;
    font-family: var(--ffOpenSans);
    font-size: 15px;
    font-weight: 400;
}

.footer-prew2 {
    margin-left: 55px;
}

.img-box img {
    width: 570px !important;
    height: 344px !important;
}

.main-d-img img {
    width: 270px;
    height: 344px;@import url(font.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainCol: #000;
    --ffAnton: "Anton";
    --ffOpenSans: "OpenSans";
}

.container {
    max-width: 1170px;
}